<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="jakas_unikalna_nazwa" class="pl.coderslab.beans.HelloWorld">
        <property name="message" value="Witaj Spring - by setter"></property>
    </bean>

    <bean name="msgService" class="pl.coderslab.beans.EmailService"/>

    <bean name="msgSender" class="pl.coderslab.beans.MessageSender">
        <constructor-arg name="messageService" ref="msgService"/>
    </bean>

    <!--
     - aby przerwać cykl musimy zamienić "wstrzykiwanie przez konstruktor" na "wstrzykiwanie przez setter"
     - kolejność definicji poniższych beanów ma znaczenie!
     -->
    <bean name="jajko" class="pl.coderslab.beans.Jajko">
        <property name="kura" ref="kokoszka"></property>
    </bean>

    <bean name="kokoszka" class="pl.coderslab.beans.Kura">
        <constructor-arg ref="jajko"></constructor-arg>
    </bean>

</beans>
